{% extends 'base.html' %}
{% load crispy_forms_tags %}
</br>
</br>
{% block content %}
	
<div class="container-fluid">
<div class="col-md-6">
<div class="col-sm-6">
<form action={% url 'upload_file' %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}
    {{ form | crispy }}
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>

<h1>{{ cloudfront_link }}</h1>

</br>
</br>


</div>
</div>

<div class="col-md-6">
<div class="col-sm-6">
<a class="btn btn-danger" href={% url 'logout' %}> logout </a>
</div>
</div>

</div>

{% endblock %}